.btn {
  padding: 0.4rem;
  margin: 0.2rem;
}

input {
  padding: 0.4rem;
  margin: 0.2rem;
  border: 2px solid;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-item {
  display: flex;
}